# Environment variables
.env
req.txt 

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Results
results/*.csv
results/*.html
results/*.json
results/*.xlsx
results/archive/

# Test data
tests/data/*
!tests/data/.gitkeep

# Data
raw_data/
results/
